* {
    box-sizing: border-box;
}

body {
    background-color: #f5f7fa;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 100px;
}

h1 {
	text-align: center;
	margin-bottom: 10px;
	color: black;
}

.gifArea {
    background-color: white;
    text-align: center;
    border-radius: 12px;
    width: 500px;
    height: auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.gifArea img { 
    width: 100%; 
    height: auto;
    padding: 10px;
    object-fit: cover;
}