name: deploy website (S3-EC2)

on:
  push:
    branches: ["main"]
  workflow_dispatch: {}

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID != '' }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY != '' }}
      AWS_REGION: ${{ secrets.AWS_REGION != '' }}
      S3_BUCKET: ${{ secrets.S3_BUCKET != '' }}
      EC2_HOST: ${{ secrets.EC2_HOST != '' }}
      EC2_USER: ${{ secrets.EC2_USER != '' }}
      EC2_SSH_KEY: ${{ secrets.EC2_SSH_KEY != '' }}
    steps:
      - uses: actions/checkout@v4
      
      - name: configure AWS
        if: ${{ env.AWS_ACCESS_KEY_ID == 'true' && env.AWS_SECRET_ACCESS_KEY == 'true' && env.AWS_REGION == 'true' }}
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: upload src to S3
        if: ${{ env.S3_BUCKET == true }}
        run: | 
          aws s3 sync src/ s3://${{ secrets.S3_BUCKET }}/site/ --delete

      - name: deploy on EC2 (Pull from S3. Reload NGINX)
        if: ${{ env.EC2_HOST == true && env.EC2_USER == true && env.EC2_SSH_KEY }}
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: | 
            set -e 
            sudo mkdir -p /var/www/save_practice_site
            sudo chown -R $USER:$USER /var/www/save_practice_site

            aws s3 sync src/ s3://${{ secrets.S3_BUCKET }}/site/ /var/www/save_practice_site --delete 
            sudo systemctl reload nginx 
        
